###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# For a PostgreSQL database, use: "postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=11&charset=utf8"
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
DATABASE_URL="mysql://ninjatooken:ninjatooken@127.0.0.1:3308/ninjatooken"
###< doctrine/doctrine-bundle ###

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3308
DATABASE_NAME=ninjatooken
DATABASE_USER=ninjatooken
DATABASE_PASSWORD=ninjatooken
APP_ENV=dev
APP_DEBUG=true
APP_SECRET=myappsecret

MAILER_DSN=native://default
###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

UNITY_KEY=copytheoneofyourunityproject
BASE_HOST=ninjatooken.test
AKISMET_ACTIVE=0
AKISMET_KEY=
UNITY_VERSION='1.40000'

DISCORD_SERVER_ID=yourdiscordserverid
DISCORD_CHANNEL_ID=yourdiscordchannel

IMGUR_CLIENTID=imgurclientid
IMGUR_CLIENTSECRET=imgurclientsecret