/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
spool/*
web/pack-webmaster/*
web/standalone/*
/web/avatar/*
/web/kamon/*
/web/bundles/*
/web/css/*
/web/assetic/*
/web/js/*
/web/media/cache/*
*.unity3d