parameters:
    level: 7
    paths:
        - config
        - src
        - tests
        - public
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    scanDirectories:
        - var/cache/dev/Symfony/Config
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    doctrine:
        allowNullablePropertyForRequiredField: true
    ignoreErrors:
        - '/Property .* type mapping mismatch: property can contain .*Interface.* but database expects .*/'

    excludePaths:
        - src/Utils/Chat.php